body {
  background: linear-gradient(to bottom, #1face1, #ffffff);
  font-family: "Arial", sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  max-width: 700px;
  width: 100%;
}

.login-left {
  background: linear-gradient(to left, #bbe9ff, #ffffff);
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.login-left img {
  max-width: 300px;
}

.login-right {
  flex: 1;
  padding: 40px;
}

.login-right h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.login-right .form-control {
  border-radius: 25px;
  margin-bottom: 20px;
}
.login-right .form-select {
  border-radius: 25px;
  margin-bottom: 20px;
}

.btn-register {
  background-color: #1face1;
  color: white;
  border-radius: 25px;
  padding: 10px;
  width: 100%;
}

.btn-register:hover {
  background-color: #008fc3;
  color: white;
}

.text-center a {
  color: #007bff;
}

.text-center a:hover {
  text-decoration: underline;
}

@media (max-width: 576px) {
  .login-left {
    display: none;
  }

  .login-container,
  .login-right {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
  }
}

.error {
  color: red;
  font-size: 12px;
}

